<header class="bg-sky-900 text-white">
  <nav class="container mx-auto flex items-center justify-between p-4">
    <!-- Logo -->
    <a href="{{ path('app_default') }}" class="text-3xl font-bold hover:text-gray-400">
      RoboCup
    </a>

    <!-- Desktop Navigation -->
    <div class=" md:flex space-x-4">
      <a href="{{ path('app_default') }}" class="text-2xl hover:text-gray-400">Accueil</a>
      {# Afficher le lien "Scores" uniquement si l'utilisateur n'est pas connecté #}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_page_tableau_scores') }}" class="text-2xl hover:text-gray-400">Scores</a>
      {% endif %}
    </div>
  </nav>


</header>
