{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<main>
    <section class="h-screen w-screen bg-blue-100">
        <div class="flex items-center justify-center ">
            <h1 class="text-3xl m-10 font-bold">Bienvenue à la RoboCup</h1>
        </div>
        <div class="flex justify-around items-center">
            <div class="h-30 w-70 m-8 rounded-2xl">
                <img class="" src={{asset('media/RoboCup_Logo.png')}} alt="">
            </div>
            <div class="h-90 w-30 m-8 bg-gradient-to-r from-sky-800 to-sky-600 rounded-2xl overflow-hidden">
                <p class="text-blue-50 p-14">
                    La RoboCup est une compétition, mais elle est avant tout une communauté, et les participants échangent tout au long de l'événement. <br>
                    Nombre de technologies développées par les compétiteurs sont ouvertes.<br>
                    Chaque RoboCup est également l’occasion d’un Symposium International, haut lieu de présentation et de discussion <br> de contributions scientifiques
                     adressant un large éventail de domaines ayant trait à la recherche et la pédagogie en matière de robotique et d’intelligence artificielle. <br>
                     Afin d’encourager le plus grand partage possible des connaissances<br>
                    sur les aspects aussi bien matériels que logiciels, un axe spécifique du Symposium s’intéresse aux développements « ouverts » (open source).
                </p>
            </div>
            
        </div>
    </section>
</main>
{% endblock %}
