{% extends 'base.html.twig' %}

{% block title %}Planning Généré{% endblock %}

{% block body %}
    <h1>Planning des Rencontres</h1>
    <p>Le planning a été généré avec succès et enregistré dans la base de données.</p>
{% endblock %}
