{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h1 class="">Hello {{ controller_name }}! ✅</h1>
    <h1 class="text-8xl font-bold underline">
    Hello world!
  </h1>
{% endblock %}
